<% if @details.present? %>
  <div class="overflow-x-auto mt-6">
    <div class="flex items-center justify-end">
      <%= button_to "Export All", export_all_path, method: :post, class: "bg-emerald-500 p-2 text-white hover:underline" %>
    </div>

    <table class="min-w-full bg-white border border-gray-300 shadow-md rounded-lg">
      <thead>
        <tr class="bg-gray-200 text-gray-700">
          <th class="py-2 px-4 border">ID</th>
          <th class="py-2 px-4 border">Semester</th>
          <th class="py-2 px-4 border">Section</th>
          <th class="py-2 px-4 border">Year</th>
          <th class="py-2 px-4 border">Approved?</th>
          <th class="py-2 px-4 border">Export Excel</th>
        </tr>
      </thead>
      <tbody>
        <% @details.each do |d| %>
          <tr class="border-b hover:bg-gray-100">
            <td class="py-2 px-4 border text-center"><%= d.id %></td>
            <td class="py-2 px-4 border text-center"><%= d.semester %></td>
            <td class="py-2 px-4 border text-center"><%= d.section %></td>
            <td class="py-2 px-4 border text-center"><%= d.academic_year %></td>
            <td class="py-2 px-4 border text-center font-bold"><span class="<%= d.approve? ? "text-green-500" : "text-red-500"%>"><%= d.approve %></span></td>

            <td class="py-2 px-4 border text-center">
              <%= button_to "Export As Excel", export_path(id: d.id), method: :post, class: "bg-emerald-500 p-2 text-white hover:underline" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <h1 class="text-red-500 font-bold text-3xl text-center mt-20">No Records Found in Database!</h1>
<% end %>
